.upper-navbar {
  width: 100%;
  padding-left: 4%;
}

.upper-navbar a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin: 0;
  margin-left: 2%;
  padding: 0;
}

.upper-navbar a:hover {
  color: #edeaea;
}

.popover-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.popover-content a {
  text-decoration: none;
  color: #757575;
  padding: 4px;
  display: flex;
  align-content: center;
  font-size: 12px;
}

.popover-content p:hover {
  color: #df4d05;
  text-decoration: underline;
}

.popover-content i {
  height: 25px;
  width: 25px;
  /* border: 1px solid; */
  color: #030303;
  font-size: 20px;

  color: #757575;
}

.categories-dropdown button {
  margin-left: 30%;
  background-color: transparent;
  border: none; /* color: transparent; */
  color: #fff !important;
  font-size: 13px !important;
  font-weight: bolder !important;
  opacity: 1;
  bottom: 1px;
}

.categories-dropdown button:hover {
  background-color: transparent;
}

body {
  margin-top: 110px;
}
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.main-navbar {
  display: flex;
  padding-left: 4%;
  justify-content: left;
  /* border: 1px solid; */
}

body,
header {
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    Sans-serif;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    Sans-serif;
}

body {
  background-color: #f5f5f5;
}

.navbar-brand {
  margin-left: 5px;
  margin-right: 0;
  padding: 0;
}

.search-bar {
  width: 60%;
  /* border: 1px solid; */
  margin-left: 2%;
}

.search {
  position: relative;
  width: 100%;
}

.form-control::placeholder {
  color: #999;
  font-size: 14px;
}

.search-icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe1d2;
  border-radius: 8px;
  width: 50px;
  height: 28px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-toggler {
  margin-right: 2%;
}

#collapsible-navbar {
  display: flex;
  justify-content: left;
}

.navbar-nav .nav-item {
  display: flex;
}

.nav-item .btn img {
  height: 22px;
  width: 22px;
  padding: 0;
}

.nav-item .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  padding: 0;
  margin-left: 5px;
  margin-right: 10px;
}

.nav-item p {
  margin: 0;
  margin-left: 8px;
  font-size: 12.5px;
  font-weight: 700;
}

.nav-item button:hover {
  background-color: #df4d05;
}

/* Dropdown Container */
.dropdowns-container {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px;
  width: 65%;
  height: 85%;
  margin-left: 45%;
  margin-bottom: 20%;
}
.carousel-control-prev {
  width: 30px;
  height: 100%;
  left: -5px;
}

.carousel-control-next {
  width: 30px;
  height: 100%;
  right: -5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(79, 79, 79);
  opacity: 100px;
  height: 60px;
  width: 25px;
}

.btn1 {
  width: 100%;
  margin-bottom: -2%;
  text-align: start;
  font-size: 13px;
  color: gray;
}

.btn1:hover {
  color: #f85656;
}

.dropdown-item {
  font-size: 13px;
}

.slider1 {
  width: 100%;
  padding-left: 2%;
  padding-right: 14%;
}
.photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rounded-indicator {
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
/* Flash Photo */
.flash-photo {
  max-width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}

.flash-photo img {
  width: 77%;
  /* border: 1px solid; */
}

/* Links */

.headlines-container {
  display: flex;
  justify-content: center;
  background-color: #f2e6e0;

  padding: 10px 0;
  width: 100%;
}

.headlines {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
}

.headlines a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.headlines a p {
  text-align: center;
  display: flex;
  /* border: 1px solid; */
  margin: 0;
  padding-left: 1px;
  font-size: 15px;
}

.button-block1 {
  padding: 0;
  padding-left: 11%;
}

#headlines-bar {
  display: flex;
  max-height: 100%;

  align-content: center;
  /* border: 1px solid; */
  color: rgb(148, 148, 148);
}

.seconds {
  margin-left: 2%;
  background-color: #ff6801;
  margin-top: 12%;
  width: 40px;
  height: 40px;
  padding: 7% 8%;
}
.semicolon {
  margin-left: 2%;
  color: #ff6801;
  margin-top: 16%;
}

/* Mid-Picture */

/* Categories */
/* .card {
  width: 100%;
  border: 1px solid black;
  display: flex;
} */

/* Load Button */
.load-div {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-btn {
  font-size: 14px;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  border: #f85606 1px solid;
  width: 25%;
  color: #f85656;
  font-weight: bold;
}

/* Daraz Basic Info  */
.basic-info1 {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  margin-top: 3%;
}

.basic-info2 {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  margin-top: 3%;
}
.basic-info3 {
  padding-left: 3%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.basic-info4 {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.basic-info1 a,
.basic-info2 a {
  color: black;
  text-decoration: none;
  width: 100%;
  font-size: 12px;
}

.basic-info3 a,
.basic-info4 a {
  color: #888888;
}

.basic-info3-link {
  background-image: url("https://img.alicdn.com/imgextra/i2/O1CN01PPEuYH1lWMHGOUbok_!!6000000004826-2-tps-1947-1053.png");
  width: 100%;
}
.link-pk {
  background-position: -180px -96px;
  zoom: 0.332;
}
.link-bg {
  background-position: -513px -96px;
  zoom: 0.332;
}
.link-sl {
  background-position: -402px -96px;
  zoom: 0.332;
}
.link-my {
  background-position: -291px -96px;
  zoom: 0.332;
}
.link-np {
  background-position: -69px -96px;
  zoom: 0.332;
}
.link-pm-1 {
  background-position: -98px -682px;
  zoom: 0.338;
}
.link-pm-2 {
  background-position: -267px -682px;
  zoom: 0.338;
}
.link-pm-3 {
  background-position: -436px -682px;
  zoom: 0.338;
}
.link-pm-4 {
  background-position: -606px -682px;
  zoom: 0.338;
}
.link-pm-5 {
  background-position: -94px -805px;
  zoom: 0.338;
}
.link-pm-6 {
  background-position: -774px -682px;
  zoom: 0.338;
}
.link-pm-7 {
  background-position: -940px -682px;
  zoom: 0.338;
}
.link-pm-8 {
  background-position: -1470px -805px;
  zoom: 0.338;
}
.link-pm-9 {
  background-position: -268px -805px;
  zoom: 0.338;
}
.link-pm-10 {
  background-position: -1379px -422px;
  zoom: 0.33;
}

.link-deal-2 {
  background-position: -401px -255px;

  zoom: 0.331;
}
.link-deal-3 {
  background-position: -401px -361px;
  zoom: 0.331;
}
.link-deal-4 {
  background-position: -400px -458px;

  zoom: 0.328;
}
.link-deal-5 {
  background-position: -755px -435px;
  zoom: 0.339;
}
.link-deal-6 {
  background-position: -902px -460px;
  zoom: 0.339;
}
.link-logo-1 {
  zoom: 0.39;
  background-position: -630px -102px;
}
.link-logo-2 {
  zoom: 0.39;
  background-position: -740px -102px;
}
.link-logo-3 {
  zoom: 0.37;
  background-position: -847px -101px;
}
.link-logo-4 {
  zoom: 0.37;
  background-position: -957px -101px;
}
.link-logo-5 {
  zoom: 0.35;
  background-position: -1063px -95px;
}

/* Detailed Info */
.detailed-info1 {
  padding-left: 6%;
}

.detailed-info2 {
  padding-left: 5%;
}
.detailed-info1 p,
.detailed-info2 p {
  margin-top: 9%;
  font-size: 10px;
  color: #92a4b1;
}

.detailed-info1 h1,
.detailed-info2 h1,
.detailed-info3 h1 {
  font-size: 18px;
  color: #606060;
  margin-top: 8%;
}

.detailed-info3 {
  padding-right: 2%;
  padding-left: 3%;
}

.detailed-info3 a,
.detailed-info4 a {
  text-decoration: none;
  color: #888;
  font-size: 12px;
  color: #92a4b1;
}

.detailed-info4 {
  padding-left: 1%;
  padding-right: 8%;
}

@media (max-width: 992px) {
  .dropdowns-container {
    margin-left: 30%;
    height: 75%;
    width: 35%;
  }
  .slider1 {
    margin-top: 0;
    margin-left: 10%;
  }

  .headlines-container {
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .headlines a p {
    font-size: 13px;
  }
  .button-block1 {
    padding-left: 0;
  }

  .basic-info1,
  .basic-info2,
  .basic-info3,
  .basic-info4 {
    padding-left: 10%;
  }
  .detailed-info1,
  .detailed-info2,
  .detailed-info3,
  .detailed-info4 {
    padding-left: 10%;
  }
}

@media (min-width: 560px) and (max-width: 760px) {
  .dropdowns-container {
    margin-left: 20%;
    height: 85%;
    width: 50%;
  }
  .slider1 {
    margin-left: 8%;
  }
  #headlines-bar {
    display: none;
  }
  .pad-lft-15x {
    display: none;
  }
  .just-for-you-2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .slider-dropdown {
    height: 370px;
  }
}

@media screen and (max-width: 560px) {
  .dropdowns-container {
    margin-left: 10%;
    height: 85%;
    width: 50%;
  }
  .seconds {
    display: none;
  }
  .semicolon {
    display: none;
  }
  .search-bar {
    margin-left: 0;
  }
  body {
    margin-top: 120px;
  }
  .search-bar {
    width: 50%;
    /* border: 1px solid; */
  }
}
